body {
  margin: 0px;
  background-color: rgb(7, 255, 255);
  padding-top: 800px;
  text-align: center;
}
#Mypicture {
  width: 160px;
    border-radius: 50%;
}
#about {
  position: absolute;
  height: 800px;
  color: black;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 100%;
  display: table;
  text-align: center;
  z-index: 9;
}

#Myfavouritehobby {
  text-align: center;
  padding: 50px;
  font-size: 20px;
  height: 563px;
}

#Myfavouritebook {
  padding: 50px;
  font-size: 20px;
  height: 700px;
}

#MyInspiration {
  background: linear-gradient(#04fefe 0%, #b3e8aa 100%);
  text-align: center;
  padding: 50px;
  font-size: 20px;
  height: 508px;
}


.profile {
  text-align: center;
  vertical-align: middle;
  position: relative;
  display: table-cell;
}


.menu {
  margin-top: 0px;
  top: 0px;
  background: white;
  z-index: 10;
  cursor: pointer;
  position: fixed;
  width: 100%;
}
.link {
  display: inline;
  padding-left: 30px;
  padding-right: 25px;
  font-family: fantasy;
  font-size: 20px;
}
.link:hover {
  font-size: 25px;
  text-decoration: underline;
}
a {
  text-decoration: none;
}
.article:hover {
  color: fuchsia;
}

html {
  scroll-behavior: smooth;
}

#mypicture {
  width: 160px;
  border-radius: 50%;
}
h1 {
  font-family: 'New Tegomin', serif;
}

#name {
  font-family: 'Lobster', cursive;
}

#hobby {
  font-family: 'Dancing Script', cursive;
}

#book {
  font-family: 'Dancing Script', cursive;
}
p {
  font-family: 'Source Code Pro', monospace;
}

.line {
  height: 6px;
  background-color: black;
  width: 60px;
  margin: 8px auto;
}
.button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.inspiration {
  width: 160px;
  transition: transform .2s;
}
.inspiration:hover {
  transform: scale(0.9);
}
#Contact {
  background: firebrick;
}

#Contact iframe {
  width: 100%;
}
.Contact1 a {
  color: white;
  text-shadow: none;
}

.Contact1 h3 {
  display: inline;
}


